[submodule "dependencies/ogre"]
	path = dependencies/ogre
	url = https://github.com/OGRECave/ogre.git
[submodule "dependencies/newton"]
	path = dependencies/newton
	url = https://github.com/rastullahs-lockenpracht/newton.git
[submodule "dependencies/meshmagick"]
	path = dependencies/meshmagick
	url = https://github.com/blakharaz/meshmagick.git
[submodule "dependencies/OgreNewt"]
	path = dependencies/OgreNewt
	url = https://github.com/rastullahs-lockenpracht/ogrenewt.git
