	# Schaltet die Benutzung von Static Geometry ein, 
# dies erm�glicht eine optimierte Darstellung der Szenen
# use_static_geometry = [yes|no|auto]
# Bei auto wird sich nach dem Vorhandensein von 
# Hardware VertexBuffern auf der Grafikkarte gerichtet
# Default ist auto
use_static_geometry = auto

# 1 - No Anisotropy used
max_anisotropy = 1

# Setzt den Detailgrad von rastullah.log, ogre.log und cegui.log
# log_level = [1|2|3|4|5]
# 1 - Alles wird geloggt             (LL_DEBUG)
# 2 -                                (LL_MESSAGE)
# 3 - Warnungen + alle Fehler        (LL_WARNING)
# 4 - Fehler und kritische Fehler    (LL_ERROR)
# 5 - Nur kritische Fehler           (LL_CRITICAL)
log_level = 2

# Mausaufl�sung
# 1 sehr langsam - 9 sehr schnell
# Default ist 4
mouse_sensitivity = 5


# Untertitel Geschwindigkeit
# subtitle_speed 
# 0 - Untertiteldauer richtet sich nach Sounddauer, ist kein Sound vorhanden, wird subtitle_speed 1 genommen
# 1.0 - normale Untertitelgeschwindigkeit .. 1.5 anderthalbfache Geschwindigkeit, usw. usf.
subtitle_speed = 0.0 

