# Schaltet die Benutzung von Static Geometry ein, 
# dies ermöglicht eine optimierte Darstellung der Szenen
# use_static_geometry = [yes|no|auto]
# Bei auto wird sich nach dem Vorhandensein von 
# Hardware VertexBuffern auf der Grafikkarte gerichtet
# Default ist auto
use_static_geometry = auto

# Setzt den Detailgrad von rastullah.log, ogre.log und cegui.log
# log_level = [1|2|3]
# 1 - Nur Fehler werden geloggt (LML_CRITICAL)
# 2 - Wichtige Statusmeldungen (LML_NORMAL)
# 3 - Alles wird geloggt (LML_TRIVIAL)
log_level = 2

# Mausauflösung
# 1 sehr langsam - 9 sehr schnell
# Default ist 4
mouse_sensitivity = 4
